n8n_fcm_workflow.json
{
  "name": "MemoryForge Push Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "memoryforge-fcm",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{$json.body.urgency_level}}",
        "rules": {
          "rules": [
            {
              "value": "safe",
              "output": 0
            },
            {
              "value": "warning",
              "output": 1
            },
            {
              "value": "danger",
              "output": 2
            },
            {
              "value": "critical",
              "output": 3
            }
          ]
        }
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://fcm.googleapis.com/fcm/send",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key=YOUR_FCM_SERVER_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"fcm_token\"]}}"
            },
            {
              "name": "notification",
              "value": "={ \"title\": \"Memory Reminder: {{$node[\\\"Webhook\\\"].json[\\\"body\\\"][\\\"topic_name\\\"]}}\", \"body\": \"Retention dropped to {{$node[\\\"Webhook\\\"].json[\\\"body\\\"][\\\"retention_score\\\"]}}%. Review now!\" }"
            },
            {
              "name": "data",
              "value": "={ \"flashcard_id\": \"{{$node[\\\"Webhook\\\"].json[\\\"body\\\"][\\\"flashcard_id\\\"]}}\", \"action\": \"open_app\" }"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Push (Danger/Critical)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        750,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [],
        [
          {
            "node": "Send Push (Danger/Critical)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Push (Danger/Critical)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
